/* 
Théme name : théme NC Fabrice
Author : Fabrice
Description: Théme exercise de fabrice pour la cci 
Theme URI: https://fabricedujardinportfolio.github.io/
Version: 0.1
*/
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0;
    margin: 0;
}